@mixin pseudo-element{
  content: '';
  position: absolute;
  bottom: -2px;
  left: 0;
  height: 4px;
  width: 100%;
  background-color: $hover-color;
  transform-origin: 0 50%;
  transition: .3s;
}

@mixin top{
  content: '';
  width: 20px;
  height: 20px;
  top: 0;
  position: absolute;
  border-top: 2px solid white;
  transition: 1s;

}

@mixin bottom{
  content: '';
  width: 20px;
  height: 20px;
  bottom: 0;
  position: absolute;
  border-bottom: 2px solid white;
  transition: 1s;
}
