@import './media-mixins';
@import './variables';

body {
    font-size: 20px;
    font-family: $font-family;
    color: $standard-color;
    padding: 20px;
    position: absolute;
    text-align: center;
    p{
        margin: 0;
    }
}

p {
    font-size: .67em
}

a {
    font-size: 1em;
    @media (map-get($breakpoints, large)){
        font-size: 0.67em;
    }
}

@media (map-get($breakpoints, small)) {
    * {
        font-size: 24px;
    }
}