@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed&display=swap');
@import './normalize';
@import './standarize';
@import './header.scss';
$font-family: "Roboto Condensed";

body{
    position: absolute;
    text-align: center;
}
body p {
    margin: 0;
}
a{
    @media (map-get($breakpoints, large)){
        font-size: 0.67em;
    }
}